.contact{
    padding: 170px 0px; 
}
.form h6{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0db3c7;
    font-weight: 600;
    margin-bottom: 15px
}
.form h2{
    font-size: 38px;
    font-weight: 700;
    color: #040c2c;
    text-transform: capitalize;
}
.mydata{
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.mydata h7{
    font-size: 14px;
    color: #677294;
    font-weight: 700;
    margin-bottom: 12px
}
.mydata h4 a{
    font-size: 22px;
    color:#1f253e;
    font-weight: 600;
}
.mydata h4{
    font-size: 22px;
    color:#1f253e;
    font-weight: 600;
}
.mydata .inputdata{
    height: 50px;
    width: 450px;
    padding: 0px 20px;
}
.mydata textarea{
    width: 450px;
    padding: 9px 15px;
}
.mydata button{
    background: #0db3c7;
    color: #fff;
    border-color: #0db3c7;  
    font-size: 18px;
    border-radius: 4px;
    padding: 14px 38px 14px 42px;
    font-weight: 500;
    box-shadow: none
}

@media only screen and (max-width:600px) {
    .contact {
        padding: 30px 0px;
    }
}